<div class="well col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3>版本</h3>
    <hr>
    <p>
        目前版本：v1.2<br>
        系统刚刚上线，可能会出现各种各样的bug，希望大家谅解。遇到问题请直接联系郝广博（TEL：18143465393）
    </p>
    <br>

    <h3>使用说明</h3>
    <hr>
    <p>
        <strong>自动短信通知</strong><br>
        任务<strong>创建、修改、删除</strong>时，会发送给参与该任务的同学（主负责人&其他负责人&参与者）；任务完成时，会发送给<strong>全部</strong>的同学。当天有任务或者两天后有任务将到期，则也会自动在早上八点发送短信提醒参与任务的同学。<br>
        <strong>关于任务计分</strong><br>
        每个任务都有一个基础分（默认是0），在任务完成后的<strong>三天</strong>内，大家可以参加评审，每有一个同学支持，分数就会提升<strong>10%</strong>。即若有一项任务基础分是x，并且有n人支持了该任务，则该任务的最终得分是<strong>(1+0.1n)x</strong>。<br>
        <strong>负责人&参与者</strong><br>
        每个任务都有相应的<span class="label">主负责人</span> ，<span class="label">其他负责人</span> 和<span class="label">参与者</span> ，其中主负责人<strong>有且只有一个</strong>，其他负责人和参与者可以有多个或没有。<br>
        之所以主负责人只有一个，是为了明确职责，防止相互推诿的情况。
    </p>
    <br>

    <h3>开发者</h3>
    <hr>
    <p>
        前端：郝广博、赵雅兰<br>
        后端：冯秋实、石力铭、任意<br>
        运维：秦泽浩
    </p>
    <br>

    <h3>更新日志</h3>
    <hr>
    <p>
        <strong>v1.2</strong><br>
        1.加入了数据的统计功能<br>
        2.已关闭的任务会显示成灰色<br>
        3.任务板对得分的显示
    </p>
</div>