<style>
    .item .label{
        float: right;
        margin-top: 0.5rem
    }
    .panel_wrapper{
        display: inline;
    }

    .table_task{
        width:100%;
    }
    .table_task td{
        vertical-align: top;
    }
    .td_task{
        cursor: pointer;
    }
    .td_right{
        text-align: right;
    }
    .img_checkbox{
        cursor: pointer;
    }

    .tr_task_completed{
        background-color: #d0e9c6 !important;
    }
    .tr_task_completed h4{
        text-decoration:line-through;
    }

    .tr_task_closed{
        background-color: #dddddd !important;
    }
    .tr_task_closed h4{
        text-decoration:line-through;
    }
</style>


<div class="panel_wrapper col-sm-12 col-md-3 col-lg-2 col-md-offset-1 col-lg-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">工具栏</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <a ui-sref="newpost" class="btn btn-primary btn-raised btn-block">发布讨论</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h5 class="panel-title">标签过滤</h5>
                <span ng-repeat="tag in taglist" class="label col-xs-6 col-sm-3 col-md-6 col-lg-3" style="cursor: pointer;font-size: 1.5rem;margin-top: 0.25rem;margin-bottom: 0.25rem;display: block" ng-click="tag.looking=!tag.looking" ng-class="{'label-primary':tag.looking == true}">{{tag.label}}</span>
            </div>
        </div>
    </div>
</div>

<div class="panel_wrapper col-sm-12 col-md-7 col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">帖子列表</h3>
        </div>
        <table class="table table-hover table_task">
            <tbody>
            <tr ng-repeat="post in postlist | orderBy:'id':true | filter_tag:taglist" ng-class="{'tr_task_completed':task.status==1,'tr_task_closed':task.status==2}">
                <td ng-click="show_post_info()" class="td_post">
                    <h4>{{ post.title }}</h4>
                    {{ post.author }}&nbsp;
                    <!--标签-->
                    <span ng-repeat="tag in post.tags" class="label">{{tag}}</span>
                </td>
                <td>
                    最后回复：{{post.replies[post.replies.length-1].author}}<br>
                    回复时间：{{post.replies[post.replies.length-1].time}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>