<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" onclick="window.location='index.html';">sparkbition</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':path.substr(0,6)=='/tasks'}"><a ui-sref="tasks">任务板</a></li>
                <li><a ui-sref="state2">state2</a></li>
                <li class="dropdown">
                    <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">消息通知<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Dropdown header</li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                        <li><a href="javascript:void(0)">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">Link</a></li>
                <li class="dropdown">
                    <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ userinfo.name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">个人信息</a></li>
                        <li><a href="javascript:void(0)">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>