<!--<script>-->
    <!--editor.session.setValue("", -1);-->
    <!--setTimeout(function() {-->
        <!--window.addEventListener("hashchange", function() {-->
            <!--$('.ui-layout-east').scrollTop($('.ui-layout-east').scrollTop() - 6);-->
        <!--}); // a little gap to top-->
        <!--if(window.location.hash.length > 0) {-->
            <!--$('.ui-layout-east').scrollTop($(window.location.hash).offset().top - 30); // scroll to hash element-->
        <!--}-->
    <!--}, 1000);-->
<!--</script>-->

<div class="well col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
<form class="form-horizontal" onsubmit="stop_submit()">
    <fieldset>
        <legend>发布讨论</legend>

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">标题</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="title" ng-model="newpost.title" required>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">标签（英文逗号分隔）</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="rawtag" ng-model="newpost.rawtag" required>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-md-2 control-label">内容（MarkDown）</label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" rows="24" id="content" ng-model="newpost.content" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button onclick="history.go(-1)" type="button" class="btn btn-default">取消</button>
                <button type="submit" class="btn btn-primary" ng-click="new_task()">提交</button>
                <button ng-click="mdpreview()" type="button" class="btn btn-default">预览</button>
            </div>
        </div>
    </fieldset>
</form>
</div>