<style>
    .label_tasker_other span{
        display:none;
    }
    .label_tasker_other{
        cursor: pointer;
        margin-right: 1em;
        color: #ffffff!important;
    }
    .label_tasker_other:hover span{
        display: inline;
    }
</style>



<div class="well col-sm-12 col-md-6 col-md-offset-3">
    <form class="form-horizontal">
        <fieldset>
            <legend>新任务</legend>
            <button ng-click="loginfo()">test</button>

            <div class="form-group">
                <label for="group" class="col-md-2 control-label">分组</label>
                <div class="col-md-10">
                    <select ng-model="newtask.group" id="group" class="form-control" ng-options="group.groupname for group in groups"></select>
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-md-2 control-label">任务标题</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="title" ng-model="newtask.title">
                </div>
            </div>

            <div class="form-group">
                <label for="remark" class="col-md-2 control-label">描述</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="3" id="remark" ng-model="newtask.remark"></textarea>
                    <span class="help-block">在这里输入对任务的详细描述</span>
                </div>
            </div>


            <div class="form-group">
                <label for="ddl" class="col-md-2 control-label">DDL</label>
                <div class="col-md-10">
                    <div class="form-control-wrapper">
                        <input style="display: inline;width: 50%;" ng-model="newtask.ddl" type="text" id="ddl" class="form-control" placeholder="请选择日期">
                        <p style="display: inline;width: 50%;">{{ newtask.ddl | date:'yyyy-MM-dd HH:mm'}}</p>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="urgency" class="col-md-2 control-label">紧急程度</label>
                <div class="col-md-10">
                    <select id="urgency" class="form-control" ng-model="newtask.urgency">
                        <option value="正常" selected>正常</option>
                        <option value="紧急">紧急</option>
                        <option value="火急">火急</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="tasker_main" class="col-md-2 control-label">主负责人</label>
                <div class="col-md-10">
                    <select ng-model="newtask.tasker_main" id="tasker_main" class="form-control" ng-options="crew for crew in crew_list"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">其他负责人</label>
                <div class="col-md-10">
                    <p style="display: inline;" ng-if="newtask.tasker_other.length==0">请点击右边的添加按钮</p>
                    <label class="label label_tasker_other" ng-repeat="tasker in newtask.tasker_other" ng-click="remove_tasker_other(tasker)">{{ tasker }}<span>&nbsp;&times;</span></label>
                    <button data-toggle="modal" data-target="#add_tasker_other" class="btn btn-primary">添加</button>
                </div>
            </div>













            <div class="checkbox">
                <label>
                    <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Checkbox
                </label>
            </div>



            <div class="form-group">
                <label class="col-md-2 control-label">Radios</label>

                <div class="col-md-10">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                            Option one is this
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            Option two can be something else
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="select111" class="col-md-2 control-label">Select</label>

                <div class="col-md-10">
                    <select id="select111" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-default">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>



<a class="btn btn-primary" data-toggle="modal" href="#add_tasker_other">Trigger modal</a>
<div class="modal fade" id="add_tasker_other">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">选择负责人</h4>
			</div>
			<div class="modal-body">
                <button class="btn btn-default" ng-repeat="crew in crew_list" ng-click="add_tasker_other(crew)">{{ crew }}</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
    $('#ddl').bootstrapMaterialDatePicker().bootstrapMaterialDatePicker('setDate', moment());
</script>