<div class="row">

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">个人-得分</div>
            <div class="panel-body">
                <p>
                    总计：{{ personal.score.all }}<br>
                    本月：{{ personal.score.month }}<br>
                    本周：{{ personal.score.week }}<br>
                </p>
                <hr>
                this is a chart
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">个人-项数</div>
            <div class="panel-body">
                <p>
                    总计：{{ personal.number.all }}<br>
                    本月：{{ personal.number.month }}<br>
                    本周：{{ personal.number.week }}<br>
                </p>
                <hr>
                this is a chart
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">个人-平均任务得分</div>
            <div class="panel-body">
                <p>
                    总计：{{ personal.average.all }}<br>
                    本月：{{ personal.average.month }}<br>
                    本周：{{ personal.average.week }}<br>
                </p>
                <hr>
                this is a chart
            </div>
        </div>
    </div>

</div>




<div class="row">

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">排行-得分</div>
            <div class="panel-body">
                this is another chart
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">排行-项数</div>
            <div class="panel-body">
                this is another chart
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">排行-平均任务得分</div>
            <div class="panel-body">
                this is another chart
            </div>
        </div>
    </div>

</div>


