<style>
    .item .label{
        float: right;
        margin-top: 0.5rem
    }
    .panel_wrapper{
        display: inline;
    }

    .table_task{
        width:100%;
    }
    .table_task td{
        vertical-align: top;
    }
    .td_task{
        cursor: pointer;
    }
    .td_right{
        text-align: right;
    }
    .img_checkbox{
        cursor: pointer;
    }

    .tr_task_completed{
        background-color: #d0e9c6 !important;
    }

    .tr_task_completed h4{
        text-decoration:line-through;
    }
</style>

<div class="visible-xs-block">
    <a ui-sref="newtask" class="btn btn-primary btn-raised btn-block">添加任务</a>
</div>
<div ng-repeat="group in groups | orderBy:'index'"  class="panel_wrapper col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ group.groupname }} <span class="badge">{{ group.tasks.length }}</span></h3>
        </div>

                <table class="table table-hover table_task">
                    <colgroup>
                        <col width="1%">
                        <col width="99%">
                    </colgroup>
                    <tbody>
                    <tr ng-repeat="task in group.tasks | orderBy:'status'" ng-class="{'tr_task_completed':task.status>0}">
                        <td style="padding-top: 18px">
                            <!--<input ng-click="test()" type="checkbox" class="checkbox_flat" name="task_check" ng-model="task.status>0" style="background: #eee;border:1px solid #ddd;width: 1.5em;height: 1.5em;">-->
                            <img class="img_checkbox" ng-show="task.status>0" src="static/checkbox/checkbox-checked.svg" style="width: 3rem;height: 3rem;">
                            <img class="img_checkbox" ng-click="complete_task(task.id)" ng-show="task.status==0" src="static/checkbox/checkbox-unchecked.svg" style="width: 3rem;height: 3rem;">
                        </td>
                        <td ng-click="show_task_info()" class="td_task">
                            <h4>{{ task.title }}</h4>
                            <!--已关闭-->
                            <span class="label" ng-if="task.status==2">已关闭</span>
                            <!--tasker_main-->
                            <span class="label">{{ task.tasker_main }}</span>
                            <!--紧急程度-->
                            <span ng-if="task.urgency!='正常' && task.status==0" class="label" ng-class="{'label-primary':task.urgency=='正常','label-warning':task.urgency=='紧急','label-danger':task.urgency=='火急'}">{{ task.urgency }}</span>
                            <!--DDL-->
                            <span class="label" ng-class="{'label-warning':now>task.ddl && task.status==0}"><span class="glyphicon glyphicon-calendar"></span> {{ task.ddl | date:'MM-dd' }}</span>
                            <!--完成日期-->
                            <span ng-if="task.status>0" class="label" ng-class="{'label-danger':task.finishtime>task.ddl}"><span class="glyphicon glyphicon-ok"></span> {{ task.finishtime | date:'MM-dd' }}</span>
                            <!--点赞量-->
                            <span ng-if="task.status>0" class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span> {{ task.upvoters.length }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

    </div>
</div>





<!-- modal_task -->
<div class="modal fade" id="modal_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">任务详情 <span class="label" ng-if="task_looking.urgency!='正常'" ng-class="{'label-primary':task_looking.urgency=='正常','label-warning':task_looking.urgency=='紧急','label-danger':task_looking.urgency=='火急'}">{{ task_looking.urgency }}</span></h4>
            </div>
            <div class="modal-body">
                <span style="float: right;" class="label" ng-class="{'label-info':task_looking.status==0,'label-primary':task_looking.status==1}">{{ task_looking.status==0?'进行中':task_looking.status==1?'已完成':task_looking.status==2?'已关闭':'' }}</span>
                <!--标题-->
                <h4 class="list-group-item-heading">{{ task_looking.title }}</h4>
                <!--备注-->
                <p ng-if="task_looking.remark!=''">{{ task_looking.remark }}</p>

                <div class="row">
                    <div class="col-xs-7">
                        <p>ID：{{ task_looking.id }}</p>
                        <p ng-if="task_looking.status>0">完成时间：<span class="label">{{ task_looking.ddl | date:'MM-dd H:mm' }}</span></p>
                        <p>DDL：<span class="label">{{ task_looking.ddl | date:'MM-dd' }}</span></p>
                        <p>负责：<span class="label">{{ task_looking.tasker_main }}</span>&nbsp;&nbsp;<span ng-repeat="tasker in task_looking.tasker_other">{{ tasker }}&nbsp;&nbsp;</span></p>
                        <p>参加：<span ng-repeat="participator in task_looking.participators">{{ participator }}&nbsp;&nbsp;</span></p>
                        <p>发布：{{ task_looking.publisher }}</p>
                        <p ng-if="task_looking.status>0">支持：<span ng-if="task_looking.upvoters.length==0">还没有人支持呢...</span><span ng-repeat="upvoter in task_looking.upvoters"><span class="label">{{ upvoter }}</span>&nbsp;&nbsp;&nbsp;</span></p>
                        <div ng-show="set_base_score_showing" class="form-group">
                            <label style="display: inline;" for="base_score" class="control-label">输入基础分</label>
                            <input style="display: inline;width: 3rem;" type="number" class="form-control" id="base_score" ng-model="task_looking.base_score">
                            <button class="btn btn-primary" ng-click="set_base_score(task_looking.id)" style="display: inline;">设置</button>
                        </div>
                    </div>
                    <!--分数显示-->
                    <div class="col-xs-5" style="text-align: right;">
                        <h1>{{ task_looking.base_score*(1+0.1*task_looking.upvoters.length) }}</h1>
                        <p ng-if="task_looking.status>0">{{ task_looking.base_score }}×{{ 1+0.1*task_looking.upvoters.length }}</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button ng-click="show_set_base_score()" class="btn btn-primary">设置基础分</button>
                <!--TODO upvote-->
                <button ng-if="task_looking.status==1" class="btn btn-default">支持</button>
                <button ng-if="task_looking.status==0" ng-click="complete_task(task_looking.id)" class="btn btn-default">完成</button>
                <button ng-if="task_looking.status==0" ng-click="delete_task(task_looking.id)" class="btn btn-default">删除</button>
                <!--TODO modifBy_task-->
                <button ng-if="task_looking.status==0" ng-click="modify_task()" type="button" class="btn btn-default">修改</button>
                <button ng-if="task_looking.status==2" type="button" class="btn btn-default">归档</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--TODO 涟漪动画效果无法显示-->