<style>
    .item .label{
        float: right;
        margin-top: 0.5rem
    }
    .panel_wrapper{
        display: inline;
    }

    .table_task{
        width:100%;
    }
    .table_task td{
        vertical-align: top;
    }
    .table_task tr:hover{
        cursor: pointer;
    }
    .td_right{
        text-align: right;
    }

    .tr_task_completed{
        background-color: #d0e9c6 !important;
    }

    .tr_task_completed h4{
        text-decoration:line-through;
    }
</style>

<div ng-repeat="group in groups | orderBy:'index'"  class="panel_wrapper col-sm-12 col-md-6 col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ group.groupname }} <span class="badge">{{ group.tasks.length }}</span></h3>
        </div>

                <table class="table table-hover table_task">
                    <colgroup>
                        <col width="1%">
                        <col width="99%">
                    </colgroup>
                    <tbody>
                    <tr ng-repeat="task in group.tasks | orderBy:'completed'" ng-class="{'tr_task_completed':task.completed}">
                        <td style="padding-top: 18px">
                            <input type="checkbox" class="checkbox_flat" name="task_check" ng-model="task.completed" style="background: #eee;border:1px solid #ddd;width: 1.5em;height: 1.5em;">
                        </td>
                        <td ng-click="show_task_info()">
                            <h4>{{ task.title }}</h4>
                            <span class="label">{{ task.tasker_main }}</span>
                            <span class="label" ng-class="{'label-primary':task.urgency=='正常','label-warning':task.urgency=='紧急','label-danger':task.urgency=='火急'}">{{ task.urgency }}</span>
                            <span class="label">{{ task.ddl | date:'MM-dd' }}</span>
                            <span class="label"><span class="glyphicon glyphicon-thumbs-up"></span> {{ task.upvoters.length }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

    </div>
</div>





<!-- modal_task -->
<div class="modal fade" id="modal_task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">任务详情</h4>
            </div>
            <div class="modal-body">
                <span style="float: right;" class="label" ng-class="{'label-primary':task_looking.urgency=='正常','label-warning':task_looking.urgency=='紧急','label-danger':task_looking.urgency=='火急'}">{{ task_looking.urgency }}</span>
                <!--标题-->
                <h4 class="list-group-item-heading">{{ task_looking.title }}</h4>
                <!--备注-->
                <p ng-if="task_looking.remark!=''">{{ task_looking.remark }}</p>

                <div class="row">
                    <div class="col-xs-7">
                        <p>DDL：<span class="label">{{ task_looking.ddl | date:'MM-dd' }}</span></p>
                        <p>负责：<span class="label">{{ task_looking.tasker_main }}</span>&nbsp;&nbsp;<span ng-repeat="tasker in task_looking.tasker_other">{{ tasker }}&nbsp;&nbsp;</span></p>
                        <p>参加：<span ng-repeat="participator in task_looking.participators">{{ participator }}&nbsp;&nbsp;</span></p>
                        <p>发布：{{ task_looking.publisher }}</p>
                        <p>支持：<span ng-if="task_looking.upvoters.length==0">还没有人支持呢...</span><span ng-repeat="upvoter in task_looking.upvoters"><span class="label">{{ upvoter }}</span>&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div class="col-xs-5" style="text-align: right;">
                        <h1>{{ task_looking.base_score*(1+0.1*task_looking.upvoters.length) }}</h1>
                        <p>{{ task_looking.base_score }}×{{ 1+0.1*task_looking.upvoters.length }}</p>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-default">支持</button>
                <button class="btn btn-default">完成</button>
                <button type="button" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>

<!--TODO 涟漪动画效果无法显示-->