<style>
    .user-table td{
        padding-bottom: 1em;
        padding-left:2em;
        padding-right:2em;
    }
</style>

<div class=" row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="text-center panel-title">个人信息</h3>
            </div>
            <table>
                <tbody class="user-table">
                    <tr >
                        <td style="padding-top: 2em;">
                            姓名：
                        </td>
                        <td  style="padding-top: 2em;">
                            {{ userinfo.username }}
                        </td>
                    </tr>
                    <tr>
                        <td >
                            电话：
                        </td>
                        <td >
                            {{ userinfo.mobile }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            性别：
                        </td>
                        <td>
                            {{ userinfo.gender=="F"?"女":"男"}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            登陆次数：
                        </td>
                        <td>
                            {{ userinfo.login_count }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            剩余点赞次数：
                        </td>
                        <td>
                            {{ userinfo.upvotetimes }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            积分：
                        </td>
                        <td>
                            {{ userinfo.points }}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            上次登录：
                        </td>
                        <td>
                            {{ userinfo.last_login }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom: 2em">
                            账户类型：
                        </td>
                        <td style="padding-bottom: 2em">
                            {{ userinfo.type }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
